@model BLL.Domain.Amigo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do amigo</h2>

<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para página Home", "Index")
</p>
